<div class="top-bar">
  <div>
    <h1>Staff Dashboard</h1>
    <div class="welcome-text">Welcome, {{ username }}</div>
  </div>

  <button class="logout-btn" (click)="logout()">Logout</button>
</div>
<div class="container">
  <h2>Assigned Tasks</h2>

  <table>
    <tr>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let task of tasks">
      <td>{{ task.description }}</td>
      <td>{{ task.status }}</td>
      <td>
        <button
          (click)="editTask(task)"
          [disabled]="task.status === 'Completed'||task.status==='COMPLETED'">
          Update Status
        </button>
      </td>
    </tr>
  </table>

  <!-- ✅ Status Update Form -->
  <div *ngIf="editingTaskId">

    <h3>Update Task Status</h3>

    <form [formGroup]="statusForm" (ngSubmit)="updateStatus()">

      <select formControlName="status">
  <option value="IN_PROGRESS">In Progress</option>
  <option value="COMPLETED">Completed</option>
  </select>

      <button type="submit" [disabled]="statusForm.invalid">
        Update
      </button>

      <button type="button" (click)="cancelEdit()">
        Cancel
      </button>
    </form>

  </div>

</div>